.Trending{
    color: black;
}
.arrayItam{
    padding: 10px;
    margin-left: 1rem ;
    color: blue;
}
/* .arrayItam1{
    margin-left: 30px;
    padding: 1rem;
} */

.arrayItam1{
    margin-right: rem;
    color: red;
    
}