.postWrapper {
    border: 0.5px solid lightgray;
    flex: 2;
    width: 100%;
}

.header1 {
    border-bottom: 0.5px solid lightgray;
    background-color: rgb(232, 232, 232);
    padding: 0 1rem;
    position: fixed;
    width: 34.7%;
    z-index: 999;
    opacity: .8;

}

.heading {
    font-size: calc(20rem/16);
    font-weight: 700;


    /* justify-content: space-around; */
    /* margin-top: 3rem; */
}

.headerOptionWrapper {
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: space-around;

}

.postsWrapper {
    overflow: auto;
    max-height: 100%;
    padding-top: 10rem;

}

.postsWrapper::-webkit-scrollbar {
    display: none;
}

.hii{
    display: none;
}

.foryou:hover{
    transform: scale(1.1);
}




@media screen  and (max-width:866px){
    .header1 {
       width: 100%;
    } 
    
    .postWrapper {
       
        width: 100%;
    }

    .home{
        display: none;
    }
    .hii{
        display: unset;
        
    }
    .profilelogo{
        width: 70px;
        border-radius: 50%;
    }
}

