.position{
    position: fixed;
}

.main{
    padding: .6rem;
    padding-left: 1.3rem;
    width: 9rem;
    border-radius: 2rem;
    margin-right: 10rem;
    margin-bottom: .2rem;
    cursor: pointer;
   
}

.logo{
   padding: .5rem; 
}
.text{
    font-weight: 700;
    font-size: 15px;
    font-family: "Twitter",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;

}
.twitterLogo{
    margin-left: 2.1rem;
    color: #6495ED;
    padding-top: .5rem;
    width: 1.9rem;
    height: 2rem;
    border-radius: 40%;
    cursor: pointer;
}

.twitterLogo:hover{
    /* background-color:wheat ; */
    transform: scale(1.3);
}

.main:hover{
     background-color: wheat;
}
.Button{
     padding: 5rem;
     color: black;
}
.tfi1{
    width: 1rem;
    height: 2rem;
   margin-top: 1rem;
    color: #6495ED ;
}
.email:hover{
   background-color:black ;
   color: black;
}
.main1:hover{
    transform: scale(1.2);
}
.twitterbutten{
    margin-top: 10ram;
}
