.select:hover{
    color: black;
    background-color: blue;
    
}
.email{
    width: 4rem;
    height: 6rem;
    background-color: red;

}
.logout{
    /* background-color: black; */
    width: 70%;
    margin-right: 15rem;
    border-radius: 30px;
    /* padding-top: 5rem; */
    outline: none;
}