.input{
     border: 1px solid white; 
    /* width: 18rem; */
    /* height: 2.5rem; */
    /* border-radius: 2rem; */
    /* margin-left: 1rem; */
    /* margin-top: .5rem; */
    /* text-align: center; */
  
}
.display{
    display: flex;
    border: 1px solid black;
    width: 15rem;
    margin-left: 1rem;
    margin-top: .5rem;
    height: 2.5rem;
    text-align: center;
    /* color: black; */
}